<a href="https://colab.research.google.com/github/Tuchsanai/152-478-Introduction-to-Deep-Learning-for-Artificial-Intelligence-Engineering/blob/main/01_basic_python/01_Basic_Python_AI_Part1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Variable (ตัวแปร)
- เหมือนกำลังเก็บของ มีป้ายแปะที่ลังเป็นชื่อตัวแปร ส่วนของข้างในคือข้อมูล
- ทุกครั้งที่เห็นเครื่องหมาย = คือการนำค่าจากทางขวามือ มาใส่ลังที่มีชื่อทางซ้ายมือเสมอ

### Numerical variable (ตัวแปรตัวเลข)

In [ ]:
a = 1 # ลังแปะป้ายชื่อ a ใส่ข้อมูลเป็นตัวเลข 1
b = 2 # ลังแปะป้ายชื่อ b ใส่ข้อมูลเป็นตัวเลข 2
c = a + b # ลังแปะป้ายชื่อ c ใส่ข้อมูลเป็นผลลัพธ์การจากการบวกกันของลัง a และลัง b ณ เวลาที่เอามาใส่
c

3

float ในภาษาอื่นอาจแบ่งเป็น single และ double เพื่อระบุพื้นที่ใน RAM ในการเก็บข้อมูล แต่ใน python จะใช้ double เสมอ ยกเว้นจะใช้ฟังก์ชันพิเศษจาก library numpy `numpy.float32`

In [ ]:
a = 4 # integer จำนวนเต็ม
b = 2.0 # float จำนวนทศนิยม 
print(a) 
print(b)

4
2.0

In [ ]:
print(a+b)
print(a*b)
print(a/b)
print(a**b)
print(a**(1/b))

6.0
8.0
2.0
16.0
2.0

## String variable (ตัวแปรตัวอักษร)

- สิ่งที่อยู่ใน `' '` หรือ `" " `จะนับเป็นตัวอักษรทั้งหมดแม้ว่าจะเป็นตัวเลขหรือเครื่องหมายก็ตาม
- การใช้ `"` หรือ `'` ก็นับเป็น string เหมือนกัน ตัวภาษา python อนุญาตให้เราใช้ทั้งสองแบบ เผื่อในกรณีดังนี้

1.   `text = "I'm fine. Thank you."`
2.   `text = 'This is an "important" part.'`

In [ ]:
a = 'hi, '
b = 'how are you?'
c = a + b # การ + ของ string คือการนำมาต่อกัน
c

'hi, how are you?'

In [ ]:
print(c)

hi, how are you?

In [ ]:
name = 'John'
money = '10 USD'
sentence = name + ' has ' + money + '.'
sentence

'John has 10 USD.'

In [ ]:
print(name + ' has ' + money) # ใช้การ + เพื่อนำ string มาต่อกัน (concatenate)

John has 10 USD

In [ ]:
print(name + a) # ตัวแปรคนละประเภทไม่สามารถนำมา + กันได้

Johnhi,

### Methods similar to Python string methods
Nearly all Python's built-in string methods are mirrored by a Pandas vectorized string method. Here is a list of Pandas ``str`` methods that mirror Python string methods:

|             |                  |                  |                  |
|-------------|------------------|------------------|------------------|
|``len()``    | ``lower()``      | ``translate()``  | ``islower()``    | 
|``ljust()``  | ``upper()``      | ``startswith()`` | ``isupper()``    | 
|``rjust()``  | ``find()``       | ``endswith()``   | ``isnumeric()``  | 
|``center()`` | ``rfind()``      | ``isalnum()``    | ``isdecimal()``  | 
|``zfill()``  | ``index()``      | ``isalpha()``    | ``split()``      | 
|``strip()``  | ``rindex()``     | ``isdigit()``    | ``rsplit()``     | 
|``rstrip()`` | ``capitalize()`` | ``isspace()``    | ``partition()``  | 
|``lstrip()`` |  ``swapcase()``  |  ``istitle()``   | ``rpartition()`` |

Notice that these have various return values. Some, like ``lower()``, return a series of strings:

###  Slicing a string

In [ ]:
s = "programming"

In [ ]:
s[0:3]

'pro'

In [ ]:
s[0:5]

'progr'

In [ ]:
s[5:]

'amming'

## Strip

In [ ]:
string = "     programming is easy    "
string

'     programming is easy    '

In [ ]:
string.strip()

'programming is easy'

## Upper

In [ ]:
s.upper()

'PROGRAMMING'

## Lower

In [ ]:
s.lower()

'programming'

## Capitalize

In [ ]:
s.capitalize()

'Programming'

## Startswith

In [ ]:
s.startswith('P')

False

In [ ]:
s.startswith('p')

True

In [ ]:
s.startswith('pro')

True

In [ ]:
s.startswith('prox')

False

## Find

In [ ]:
s

'programming'

In [ ]:
s.find("m")

6

In [ ]:
s.find("gram")

3

## Data type transformation

ใช้คำสั่ง `str(ตัวแปร)`, `int(ตัวแปร)`, `float(ตัวแปร)` เพื่อเปลี่ยนประเภทตัวแปรเป็น string, integer และ float ตามลำดับ

In [ ]:
a = 4
name = 'John'

In [ ]:
print(a)
print(type(a))
print(str(a)) # a = '4'
print(type(str(a)))

4
<class 'int'>
4
<class 'str'>

In [ ]:
p = 3.141592
print(p + 5.26) # float + float
print(str(p) + str(5.26)) # str + str
print(int(p))

8.401592
3.1415925.26
3

## Printing string-number combination

มี 3 วิธี ดังนี้

### 1) `,`

In [ ]:
print('There are',a,'cats in this room.')
# ให้ผลเหมือนกันกับ
print('There are '+str(a)+' cats in this room.')

There are 4 cats in this room.
There are 4 cats in this room.

### 2)

In [ ]:
print("Approximated Pi value is {}".format(p))
print("Approximated Pi value is {:.4f}".format(p))

Approximated Pi value is 3.141592
Approximated Pi value is 3.1416

In [ ]:
print("My name is {}. I've been here for {} years".format(name, a))
print("My name is {n}. I've been here for {time:.5f} years".format(n=name, time=float(a)))
print("My name is {1}. I've been here for {0} years".format(a, name))

My name is John. I've been here for 4 years
My name is John. I've been here for 4.00000 years
My name is John. I've been here for 4 years

### 3) f-string

In [ ]:
print(f"Approximated Pi value is {p}")
print(f"Approximated Pi value is {p:.4f}")
print(f"My name is {name}. I've been here for {a} years")
print(f"My name is {name}. I've been here for {a:.5f} years") # a ไม่ต้องแปลงเป็น float ก่อนก็ได้

Approximated Pi value is 3.141592
Approximated Pi value is 3.1416
My name is John. I've been here for 4 years
My name is John. I've been here for 4.00000 years

In [ ]:
n1 = '5'
n2 = '2.445'
n3 = '3.44s'

print(int(n1))
print(float(n1))

print(int(float(n2)))
print(float(n2))

5
5.0
2
2.445

## List variable

In [ ]:
x = [1,2,3,4,5]
y = ['hi',1,3,x]
z = x + y
z

[1, 2, 3, 4, 5, 'hi', 1, 3, [1, 2, 3, 4, 5]]

How to access element in LIST

In [ ]:
z[3:]

[4, 5, 'hi', 1, 3, [1, 2, 3, 4, 5]]

In [ ]:
z[8][2]

3

**LIST**
It's a container that can contain any anything i.e. datatype, function, object, variables etc.

In [ ]:
x = ['hello',hellofriend,3,4,5,6]
y = [x]
z = ['hello',x,y]
#x[2:]
z[2][0][0]

'hello'

In [ ]:
y = [1,2,3,4,5,6,7,8]
#print(y[0:5])
#print(len(y))
#print(sum(y))
print(y[0:5])
print(y)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6, 7, 8]

## Function

In [ ]:
a = input('please insert integer')

In [ ]:
a

'5'

#### ทดสอบ Error

In [ ]:
a+10

##### ต้องแปลงจาก string เป็น integer

In [ ]:
int(a)+1

6

In [ ]:
def addone(x):
  return x+1

In [ ]:
addone( int(a))

6

In [ ]:
def hellofriend():
  namefriend = input('Please insert your name.\n')
  output = 'hello '+namefriend + '!'
  return output

In [ ]:
hellofriend()

**Expressions**

In [ ]:
x = 5
y = 5
print(x == y)
print(x != y)
print(x < y)
print(x <=y)
print(x > y)
print(x >= y)

True
False
False
True
False
True

In [ ]:
x = 5
y = 5
z = 2

In [ ]:
x = 5
y = 4
x = y
x == y

True

In [ ]:
x = [1,2,3,4,5]
(6 in x) | (x[0]<5)

True

In [ ]:
x = [1,2,3,4,5]
print(1 in x)
print(len(x)<=10)
print(len(x)>=10)
print(sum(x)<=100)
print(sum(x)>=100)

True
True
False
True
False

In [ ]:
x = 'taoshinjuku'
y = 'tao'
x[0:3] == y

True

**Condition**

In [ ]:
x = 3
y = 2
if x < y:
  print('hello')
else:
  print('good bye')

good bye

In [ ]:
x = 'taoshinjuku'
y = 'taorama9'
if x[0:4] == y [0:4]:
  print('hey we have common names')
else:
  print('who are you?')

who are you?

In [ ]:
x = 1
y = 2
print(x == y)
x

False

1

In [ ]:
def howmuch():
  mywallet = 100
  pricetag = input('how much is that thing?\n')
  pricetag = int(pricetag)
  if mywallet < pricetag:
    return "Sorry, may be next time."
  else:
    return "Could I have one, please."

In [ ]:
howmuch()

how much is that thing?
 12

'Could I have one, please.'

**for LOOP**

In [ ]:
for i in [1,2,3,4,5]:
  print(i)
  print('สวัสดีชาวโลก')
  input()

1
สวัสดีชาวโลก

2
สวัสดีชาวโลก

3
สวัสดีชาวโลก

4
สวัสดีชาวโลก

5
สวัสดีชาวโลก

In [ ]:
namelist = ['winn','tao','arm','met','pint','wan','worachai','bee','wasunee']
countname = 0
for name in namelist:
  print(name)
  nameinitial = name[0]
  print(nameinitial)
  if nameinitial == 'w':
    print('name initial is "w"')
    print(countname)
    countname = countname + 1
    print('countname has been increased')
    print(countname)
  input()

**while LOOP**

In [ ]:
i = 0
while i < 10:
  print(i)
  i = i + 1

0
1
2
3
4
5
6
7
8
9

In [ ]:
a='10'
print(type(a))
a = int(a)
print(type(a))

<class 'str'>
<class 'int'>

In [ ]:
a = [1,'hi',3,4,5,6,7,[1,2],8,9,10]
for i in a:
  typei = type(i)
  if typei == int:
    print(i+1)
  elif typei == str:
    print(i+str(1))
  else:
    pass
  #print('hello world!')

2
hi1
4
5
6
7
8
9
10
11

In [ ]:
def checkproduct(product):
  return product+'_added'

productList = ['choco','coffee','milk']
outputList = []

for product in productList:
  output = checkproduct(product)
  outputList.append(output)
outputList

['choco_added', 'coffee_added', 'milk_added']

**Function**

In [ ]:
def addonetonum(num):
  output = num + 1
  return output

In [ ]:
def sumtwonumbers(num1,num2):
  output = num1 + num2
  return output

sumtwonumbers(10,20)

30

**Exercise**

ให้สร้าง เงื่อนไข รักสามเศร้า เลือกรักใครได้แค่คนเดียว

โดยรับ Input เป็นชื่อ

หากเป็นชื่อ โกแฮรี ให้บอกว่า ผมรักคุณ

หากเป็นชื่อ ลำยอง ให้บอกว่า
เราเป็นได้แค่พี่น้อง

หากเป็นชื่อ อื่นๆ ให้บอกว่า ผมไม่รู้จักคุณ

In [ ]:
def trianglelove(name):
  if name == 'โกแฮรี':
    return 'ผมรักคุณ'
  elif name == 'ลำยอง':
    return 'เราเป็นได้แค่พี่น้อง'
  else:
    return 'ผมไม่รู้จักคุณ'

In [ ]:
trianglelove('เต๋า')

'ผมไม่รู้จักคุณ'

ให้เขียน function รับค่าตัวเลขเข้ามา 2 ตัว 
แล้วให้หาผลรวมทั้งหมดระหว่างค่าของตัวเลขทั้ง 2 ตัวนั้น
อย่างเช่น 
f(a,b) เมื่อ a=2, b=4
ผลลัพธ์ที่ได้จาก function นี้จะต้องได้เท่ากับ 9 ซึ่งมาจาก 2+3+4
หรือ
 f(a,b) เมื่อ a=5, b=1
ผลลัพธ์ที่ได้จาก function นี้จะต้องได้เท่ากับ 15 ซึ่งมาจาก 1+2+3+4+5

In [ ]:
def getsumofallnumberbetween(num1,num2):
  if num1 > num2:
    num1, num2 = num2, num1
  sumnum = 0
  for num in range(num1,num2+1):
    sumnum = sumnum + num
    #print(num)
  return sumnum

In [ ]:
getsumofallnumberbetween(1,10)

55

จงเขียนฟังก์ชั่นหาค่าตัวเลขที่น้อยที่สุดใน LIST

In [ ]:
def getsmallestnuminlist(numList):
  smallestnum = 100000000000000
  for num in numList:
    if type(num)==str:
      continue
    if num < smallestnum:
      smallestnum = num

  return smallestnum

In [ ]:
numList = [10,5,0,21,412,'df',2,123,123,-1,29]
getsmallestnuminlist(numList)

-1

จงเขียนฟังก์ชันที่สกัดตัวเลขที่หาร 2 ลงตัว รับ input เป็น list

In [ ]:
def getevennum(numList):
  evenList = []
  for num in numList:
    if num%3 == 0:
      evenList.append(num)
  return evenList

In [ ]:
getevennum([1,2,3,4,5,6,7,8,9,10])

[3, 6, 9]

1. จงหาผลรวมของตัวเลขที่อยู่ใน alist (ให้รวมตัวเลขที่เป็น format string ด้วย)

In [ ]:
alist = ['hello',1,'b','2',4,1,'how',5,2,10,'are','you',4,3,'2','1','20']
def sumnum():
  result = 0
  for a in alist:
    if type(a)==int:
      result = result + a
    elif type(a)==str:
      try:
        a = int(a)
        result = result + a
      except:
        pass
      else:
        pass
  return result
sumnum()

55

2. จงเขียนฟังก์ชั่นหาค่าตัวเลขที่สูงที่สุดใน 

*   List item
*   List item

alist

In [ ]:
alist = [1,5,2,10,2,5,3,2,6,0,20,84,20,10,4,23,294,400,290,10]
def getmax():
  maxval = -1
  for a in alist:
    if a > maxval:
      maxval = a
  return maxval
getmax()

400

3. จงเขียนฟังก์ชันหาตำแหน่งของตัวเลขที่น้อยที่สุดใน alist

In [ ]:
alist = [1,5,2,10,2,5,3,2,6,0,20,84,20,10,4,23,294,400,290,10]
def getminpos():
  minval = 10000
  minind = 0
  for i in range(len(alist)):
    #print(i)
    numbi = alist[i]
    if numbi < minval:
      minval = numbi
      minind = i
  return minind
getminpos()

9

In [ ]:
a = 'hello'

In [ ]:
namelist = ['Winslet, Miss. Kate','Dawson, Mr. Jack','Voravuthikunchai, Mr. Winn','Voravuthikunchai, Master. Prin']

In [ ]:
def getinitiallist(namelist):
  initialList = []
  for name in namelist:
    nsplit = name.split(',')[1].split('.')[0]
    initialList.append(nsplit)
  return initialList

In [ ]:
getinitiallist(namelist)

[' Miss', ' Mr', ' Mr', ' Master']

In [ ]:
a = [10,2,30]

In [ ]:
import numpy as np
a = np.array(a)
a.std()

11.775681155103795

1. เขียนฟังก์ชันรับตัวแปร 2 ตัว แล้ว return ผลรวมของตัวแปรทั้งสองนั้น

In [ ]:
def cal():
  print('Please enter number 1 :')
  input1 = int(input())
  print('Please enter number 2 :')
  input2 = int(input())
  print ('The sum is ' + str(input1 + input2))
  output = input1 + input2
  return output
cal()

Please enter number 1 :

 2

Please enter number 2 :

 3

The sum is 5

5

2. เขียนฟังก์ชันรับตัวแปร 2 ตัว แล้ว return ผลลบของตัวแปรทั้งสองนั้น

In [ ]:
def cal():
  print('Please enter number 1 :')
  input1 = int(input())
  print('Please enter number 2 :')
  input2 = int(input())
  print ('The subtraction is ' + str(input1 - input2))
cal()

3. เขียนฟังก์ชันรับตัวแปรเป็น string แล้ว return ความยาวของ string

In [ ]:
def callen():
  print('Please type sth :')
  msg = input()
  print(len(msg))
callen()

4. เขียนฟังก์ชั่นรับตัวแปรสองตัว ตัวแรกเป็น string ตัวที่สองเป็น ตัวเลข n แล้ว print ตัวแปรแรก เป็นจำนวน n ครั้ง

In [ ]:
def myloop():
  print('Please enter number 1 :')
  input1 = input()
  print('Please enter number 2 :')
  input2 = int(input())
  i = 0
  while i < input2:
    print(input1)
    i = i + 1
myloop()

5. เขียนโปรแกรมทายชื่ออาหารที่ชอบ โดยให้แสดงรายการอาหารที่ให้คนทายเห็น ให้ตั้งค่ารายการอาหารที่เราชอบในโปรแกรม ถ้าคนทายทายถูกให้บอกว่า "ถูกต้องนะคร๊าป" ถ้าทายผิดให้บอกว่า "ผิดครับ"

In [ ]:
def guessfood():
  my_fav_food = 'padthai'
  print('Please enter foodname :')
  guessfood = input()
  if guessfood == my_fav_food:
    print(guessfood)
    print("ถูกต้องนะคร๊าป")
  else:
    print(guessfood)
    print("ผิดครับ")
guessfood()

6. เขียนโปรแกรมเพื่อหาตำแหน่งของเลข 81 ใน numbers = [
    386, 462, 47, 418, 907, 344, 236, 375, 823, 566, 597, 978, 328, 615, 953, 345, 
    399, 162, 758, 219, 918, 237, 412, 566, 826, 248, 866, 950, 626, 949, 687, 217, 
    815, 67, 104, 58, 512, 24, 892, 894, 767, 553, 81, 379, 843, 831, 445, 742, 717, 
    958,743, 527
    ]

In [ ]:
def find_index():
  numbers = [ 386, 462, 47, 418, 907, 344, 236, 375, 823, 566, 597, 978, 328, 615, 953, \
            345, 399, 162, 758, 219, 918, 237, 412, 566, 826, 248, 866, 950, 626, 949, \
            687, 217, 815, 67, 104, 58, 512, 24, 892, 894, 767, 553, 81, 379, 843, 831, \
            445, 742, 717, 958,743, 527 ]

  for i in range(len(numbers)):
    if number[i] == 81:
      return i