<a href="https://colab.research.google.com/github/Tuchsanai/152-478-Introduction-to-Deep-Learning-for-Artificial-Intelligence-Engineering/blob/main/01_basic_python/01_Basic_Python_AI_Part1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Variable (ตัวแปร)
- เหมือนกำลังเก็บของ มีป้ายแปะที่ลังเป็นชื่อตัวแปร ส่วนของข้างในคือข้อมูล
- ทุกครั้งที่เห็นเครื่องหมาย = คือการนำค่าจากทางขวามือ มาใส่ลังที่มีชื่อทางซ้ายมือเสมอ

### Numerical variable (ตัวแปรตัวเลข)

In [1]:
a = 1 # ลังแปะป้ายชื่อ a ใส่ข้อมูลเป็นตัวเลข 1
b = 2 # ลังแปะป้ายชื่อ b ใส่ข้อมูลเป็นตัวเลข 2
c = a + b # ลังแปะป้ายชื่อ c ใส่ข้อมูลเป็นผลลัพธ์การจากการบวกกันของลัง a และลัง b ณ เวลาที่เอามาใส่
c

3

In [2]:
print(c)

3

In [3]:
print('add operation = ',c)

add operation =  3

float ในภาษาอื่นอาจแบ่งเป็น single และ double เพื่อระบุพื้นที่ใน RAM ในการเก็บข้อมูล แต่ใน python จะใช้ double เสมอ ยกเว้นจะใช้ฟังก์ชันพิเศษจาก library numpy `numpy.float32`

In [ ]:
a = 4 # integer จำนวนเต็ม
b = 2.0 # float จำนวนทศนิยม 
print(a) 
print(b)

4
2.0

In [ ]:
print(a+b)
print(a*b)
print(a/b)
print(a**b)
print(a**(1/b))

6.0
8.0
2.0
16.0
2.0

## String variable (ตัวแปรตัวอักษร)

- สิ่งที่อยู่ใน `' '` หรือ `" " `จะนับเป็นตัวอักษรทั้งหมดแม้ว่าจะเป็นตัวเลขหรือเครื่องหมายก็ตาม
- การใช้ `"` หรือ `'` ก็นับเป็น string เหมือนกัน ตัวภาษา python อนุญาตให้เราใช้ทั้งสองแบบ เผื่อในกรณีดังนี้

1.   `text = "I'm fine. Thank you."`
2.   `text = 'This is an "important" part.'`

In [ ]:
a = 'hi, '
b = 'how are you?'
c = a + b # การ + ของ string คือการนำมาต่อกัน
c

'hi, how are you?'

In [ ]:
print(c)

hi, how are you?

In [ ]:
name = 'John'
money = '10 USD'
sentence = name + ' has ' + money + '.'
sentence

'John has 10 USD.'

In [ ]:
print(name + ' has ' + money) # ใช้การ + เพื่อนำ string มาต่อกัน (concatenate)

John has 10 USD

In [ ]:
print(name + a) # ตัวแปรคนละประเภทไม่สามารถนำมา + กันได้

Johnhi,

### Methods similar to Python string methods
Nearly all Python's built-in string methods are mirrored by a Pandas vectorized string method. Here is a list of Pandas ``str`` methods that mirror Python string methods:

|             |                  |                  |                  |
|-------------|------------------|------------------|------------------|
|``len()``    | ``lower()``      | ``translate()``  | ``islower()``    | 
|``ljust()``  | ``upper()``      | ``startswith()`` | ``isupper()``    | 
|``rjust()``  | ``find()``       | ``endswith()``   | ``isnumeric()``  | 
|``center()`` | ``rfind()``      | ``isalnum()``    | ``isdecimal()``  | 
|``zfill()``  | ``index()``      | ``isalpha()``    | ``split()``      | 
|``strip()``  | ``rindex()``     | ``isdigit()``    | ``rsplit()``     | 
|``rstrip()`` | ``capitalize()`` | ``isspace()``    | ``partition()``  | 
|``lstrip()`` |  ``swapcase()``  |  ``istitle()``   | ``rpartition()`` |

Notice that these have various return values. Some, like ``lower()``, return a series of strings:

###  Slicing a string

In [4]:
s = "programming"

In [5]:
s[0:3]

'pro'

In [ ]:
s[0:5]

'progr'

In [ ]:
s[5:]

'amming'

## Strip

In [ ]:
string = "     programming is easy    "
string

'     programming is easy    '

In [ ]:
string.strip()

'programming is easy'

## Upper

In [ ]:
s.upper()

'PROGRAMMING'

## Lower

In [ ]:
s.lower()

'programming'

## Capitalize

In [ ]:
s.capitalize()

'Programming'

## Startswith

In [ ]:
s.startswith('P')

False

In [ ]:
s.startswith('p')

True

In [ ]:
s.startswith('pro')

True

In [ ]:
s.startswith('prox')

False

## Find

In [ ]:
s

'programming'

In [ ]:
s.find("m")

6

In [ ]:
s.find("gram")

3

## isdigit

In [7]:
'589'.isdigit()

True

In [8]:
'589.95'.isdigit()

False

## Data type transformation

ใช้คำสั่ง `str(ตัวแปร)`, `int(ตัวแปร)`, `float(ตัวแปร)` เพื่อเปลี่ยนประเภทตัวแปรเป็น string, integer และ float ตามลำดับ

In [ ]:
a = 4
name = 'John'

In [ ]:
print(a)
print(type(a))
print(str(a)) # a = '4'
print(type(str(a)))

4
<class 'int'>
4
<class 'str'>

In [ ]:
p = 3.141592
print(p + 5.26) # float + float
print(str(p) + str(5.26)) # str + str
print(int(p))

8.401592
3.1415925.26
3

## Printing string-number combination

มี 3 วิธี ดังนี้

### 1) `,`

In [ ]:
print('There are',a,'cats in this room.')
# ให้ผลเหมือนกันกับ
print('There are '+str(a)+' cats in this room.')

There are 4 cats in this room.
There are 4 cats in this room.

### 2)

In [ ]:
print("Approximated Pi value is {}".format(p))
print("Approximated Pi value is {:.4f}".format(p))

Approximated Pi value is 3.141592
Approximated Pi value is 3.1416

In [ ]:
print("My name is {}. I've been here for {} years".format(name, a))
print("My name is {n}. I've been here for {time:.5f} years".format(n=name, time=float(a)))
print("My name is {1}. I've been here for {0} years".format(a, name))

My name is John. I've been here for 4 years
My name is John. I've been here for 4.00000 years
My name is John. I've been here for 4 years

### 3) f-string

In [ ]:
print(f"Approximated Pi value is {p}")
print(f"Approximated Pi value is {p:.4f}")
print(f"My name is {name}. I've been here for {a} years")
print(f"My name is {name}. I've been here for {a:.5f} years") # a ไม่ต้องแปลงเป็น float ก่อนก็ได้

Approximated Pi value is 3.141592
Approximated Pi value is 3.1416
My name is John. I've been here for 4 years
My name is John. I've been here for 4.00000 years

In [ ]:
n1 = '5'
n2 = '2.445'
n3 = '3.44s'

print(int(n1))
print(float(n1))

print(int(float(n2)))
print(float(n2))

5
5.0
2
2.445

## List variable

In [1]:
x = [1,2,3,4,5]
y = ['hi',1,3,x]
z = x + y
z

[1, 2, 3, 4, 5, 'hi', 1, 3, [1, 2, 3, 4, 5]]

How to access element in LIST

In [2]:
z[3:]

[4, 5, 'hi', 1, 3, [1, 2, 3, 4, 5]]

In [3]:
z[8][2]

3

In [4]:
# Get the last item in a list
x[-1]

5

In [5]:
x.append(999)
x

[1, 2, 3, 4, 5, 999]

In [6]:
# Looping through a list
for bike in y:
    print(bike)

hi
1
3
[1, 2, 3, 4, 5, 999]

In [1]:
range(10)

range(0, 10)

In [2]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [3]:
list(range(10,0,-1))

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
for i in range(10) :
    print(i)

In [4]:
for i in range(10,0,-1) :
    print(i)

10
9
8
7
6
5
4
3
2
1

In [5]:
x = list(range(0,10,2))
x

[0, 2, 4, 6, 8]

In [6]:
y = list(range(0,5,1))
y

[0, 1, 2, 3, 4]

In [ ]:
for i,j in zip(x,y) :
    print(i,j)

In [7]:
y = [1,2,3,4,5,6,7,8]
#print(y[0:5])
#print(len(y))
#print(sum(y))
print(y[0:5])
print(y)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6, 7, 8]